html,
body {
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
}

/* 版头导航栏 */
.wrap-nav {
    width: 100%;
    background: #fff;
}

.nav {
    width: 1200px;
    height: 116px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.nav-img {
    background: url(../images/logo.jpg) no-repeat;
    height: 117px;
    width: 156px;
}

.search-box {
    display: flex;
}

.search-box span {
    font-size: 14px;
    margin: 0px 5px;
    cursor: pointer;
}

.search-box form {
    position: relative;
    margin-right: 38px;
}

.search-box form>div {
    border-radius: 12px;
    border: 1px solid #000;
    width: 222px;
    height: 25px;
}

.search-box input {
    outline: none;
    border: none;
    margin-left: 10px;
}

.icon-sousuo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 14px;
    margin-right: 12px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.nav-text span {
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
    margin: 0px 39px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    transition: all 0.3s;
}

.nav-text span:last-child {
    margin-right: 0px;
}

.nav-text span:hover {
    border-bottom: 2px solid #830a13;
}

/* 轮播banner图  */
.wrap-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}

.banner img:last-of-type {
    position: static;
    opacity: 1;
}

.wrap-banner>button {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    background: transparent;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.wrap-banner>button:nth-of-type(1) {
    left: 20px;
}

.wrap-banner>button:nth-of-type(2) {
    right: 20px;
}

.wrap-banner>button:hover {
    background: rgba(245, 245, 245, 0.3);
}

.wrap-banner>button:active {
    background: rgba(245, 245, 245, 0.5);
}

.wrap-banner>ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 58px;
    text-align: center;
    margin-left: -29px;
}

.wrap-banner li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.wrap li.active {
    background: #ccc;
}

/* 简介 */
.wrap-profile {
    width: 100%;
    background: #ffffff;
}

.profile {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 106px;
}

.profile-content {
    position: relative;
    width: 1126px;
    height: 466px;
    margin-right: 74px;
    border: 1px solid #830a13;
    margin-bottom: 96px;
}

.profile-content img:nth-of-type(1) {
    position: absolute;
    width: 563px;
    height: 471px;
    left: 40px;
    bottom: 34px;
    z-index: 10;
}

.profile-content img:nth-of-type(2) {
    position: absolute;
    width: 216px;
    height: 65px;
    right: 105px;
    top: -40px;
}

.profile-lsit {
    position: absolute;
    width: 680px;
    height: 420px;
    right: -74px;
    bottom: -21px;
    padding-left: 100px;
    padding-right: 16px;
    background: #999999;
    color: #fff;
    box-sizing: border-box;
    padding-top: 34px;
}

.profile-lsit>header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #fff;
    margin-bottom: 28px;
}

.profile-lsit>header h2 {
    font-size: 18px;
    line-height: 18px;
}

.profile-lsit>header span {
    font-size: 12px;
    line-height: 12px;
}

/* 拍摄基地 */
.wrap-base {
    width: 100%;
    background: url() no-repeat;
    background: #f7f3f2;
}

.base {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 74px;
}

.base>h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 8px;
}

.base>h2 span {
    font-size: 16px;
    line-height: 16px;
}

.red-line {
    width: 120px;
    height: 1px;
    background: #830a13;
    margin: 0 auto;
}

.base-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.base-list {
    transition: all 0.5s;
    position: relative;
    height: 520px;
}

.base-list h2 {
    font-size: 16px;
    line-height: 16px;
    margin: 12px 0px 20px;
}

.base-list p {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.base-btn {
    font-size: 12px;
    width: 150px;
    height: 38px;
    line-height: 38px;
    background: #830a13;
    color: #fff;
    margin: 48px auto 56px;
    cursor: pointer;
}

/* 写真 */
.wrap-guest {
    width: 100%;
    background: #fff;
}

.guest {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 126px;
}

.guest>h2 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: 122px;
    margin-bottom: 8px;
}

.guest>h2 span {
    font-size: 16px;
    line-height: 16px;
}

.guest-content {
    position: relative;
    width: 100%;
    background: #830a13;
    height: 376px;
    padding-left: 494px;
    box-sizing: border-box;
    margin-top: 40px;
}

.guest-content>img {
    position: absolute;
    top: 25px;
    left: 28px;
}

.guest-txt {
    color: #fff;
    padding-top: 46px;
    padding-right: 38px;
}

.guest-txt h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
}

.guest-txt p {
    margin-top: 34px;
    font-size: 14px;
}

.guest-btn {
    width: 80px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #edebee;
    color: #a62a2a;
    display: flex;
    margin-top: 50px;
    font-size: 12px;
    padding-left: 4px;
}

/* 摄影师img */
.wrap-pepole-img {
    width: 100%;
}

.wrap-pepole-img img {
    width: 100%;
}

/* 摄影师 */
.wrap-pepole {
    width: 100%;
    background: #fff;
}

.pepole {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.pepole-list {
    width: 290px;
    height: 530px;
    margin-bottom: 50px;
    transition: all 0.4s;
}

.pepole-list h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 16px;
}

.pepole-list h3 {
    margin-top: 7px;
    font-size: 12px;
    line-height: 12px;
    color: #7f7f7f;
}

.pepole-list p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #a1a1a1;
}

.pepole-list:hover {
    color: #fff;
    background: #a20a09;
}

.pepole-list:hover h3 {
    color: #fff;
}

.pepole-list:hover p {
    color: #fff;
}

.wrap-foot-btn {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 22px;
}

.foot-btn {
    width: 120px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    background: #a20a09;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 页尾 */
.wrap-footer {
    width: 100%;
    background: #666666;
}

.footer {
    width: 1200px;
    height: 92px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
}